In [0]:

from pyspark.sql.functions import col, count, round, countDistinct
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType
import pandas as pd

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "680b3293-9e1f-44cc-a85d-381270619bf0",
"fs.azure.account.oauth2.client.secret": 'TEY8Q~qY3M6wXi5.ebUG-0dEJOXeG2rawrXGlbC6',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/f58d671c-7d6c-4bb7-b941-8e8cbe48bb67/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicnamechandan.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

True

In [0]:
%fs
ls /mnt/tokyoolymic

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1709170279000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1709170290000

In [0]:
spark

In [0]:
athletes = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolymic/raw-data/teams.csv")

In [0]:
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Females: integer (nullable = true)

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
athletes_transformed = athletes.groupBy("Country", "Discipline") \
                           .agg(count("PersonName").alias("NumberOfAthletes")) \
                           .orderBy("NumberOfAthletes", ascending=False)

In [0]:
athletes_transformed.show()

+--------------------+----------+----------------+
|             Country|Discipline|NumberOfAthletes|
+--------------------+----------+----------------+
|United States of ...| Athletics|             144|
|             Germany| Athletics|              95|
|       Great Britain| Athletics|              75|
|               Italy| Athletics|              73|
|               Japan| Athletics|              70|
|              France| Athletics|              66|
|           Australia| Athletics|              65|
|              Poland| Athletics|              64|
|               Spain| Athletics|              58|
|              Canada| Athletics|              56|
|             Jamaica| Athletics|              54|
|              Brazil| Athletics|              53|
|People's Republic...| Athletics|              53|
|             Ukraine| Athletics|              48|
|         Netherlands| Athletics|              44|
|           Australia|  Football|              43|
|               Japan|  Football|              42|
|              Brazil|  Football|              41|
|         New Zealand|  Football|              39|
|            Ethiopia| Athletics|              39|
+--------------------+----------+----------------+
only showing top 20 rows

In [0]:
coaches_transformed = coaches.groupBy("Country", "Discipline") \
                          .agg(count("Name").alias("NumberOfCoaches")) \
                          .orderBy("NumberOfCoaches", ascending=False)

In [0]:
coaches_transformed.show()

+--------------------+-----------------+---------------+
|             Country|       Discipline|NumberOfCoaches|
+--------------------+-----------------+---------------+
|               Spain|       Basketball|             10|
|             Nigeria|       Basketball|              9|
|United States of ...|       Basketball|              9|
|               Spain|Artistic Swimming|              8|
|               Italy|Artistic Swimming|              7|
|United States of ...|Baseball/Softball|              6|
|           Australia|           Hockey|              6|
|               Chile|         Football|              6|
|           Venezuela|       Basketball|              6|
|               Egypt|Artistic Swimming|              6|
|               Japan|         Football|              6|
|         Netherlands|           Hockey|              5|
|               Egypt|         Football|              5|
|                 ROC|       Volleyball|              5|
|           Australia|       Basketball|              5|
|               Japan|       Basketball|              5|
|       C�te d'Ivoire|         Football|              5|
|United States of ...|       Volleyball|              5|
|        South Africa|           Hockey|              5|
|               India|           Hockey|              5|
+--------------------+-----------------+---------------+
only showing top 20 rows

In [0]:
entriesgender_transformed = entriesgender.withColumn("Female_Percentage", round((col("Female") / col("Total")) * 100, 2)) \
                                     .withColumn("Male_Percentage", round((col("Male") / col("Total")) * 100, 2)).select("Discipline", "Female_Percentage", "Male_Percentage")

In [0]:
entriesgender_transformed.show()

+--------------------+-----------------+---------------+
|          Discipline|Female_Percentage|Male_Percentage|
+--------------------+-----------------+---------------+
|      3x3 Basketball|             50.0|           50.0|
|             Archery|             50.0|           50.0|
| Artistic Gymnastics|             50.0|           50.0|
|   Artistic Swimming|            100.0|            0.0|
|           Athletics|            47.48|          52.52|
|           Badminton|            49.71|          50.29|
|   Baseball/Softball|            38.46|          61.54|
|          Basketball|             50.0|           50.0|
|    Beach Volleyball|             50.0|           50.0|
|              Boxing|            35.29|          64.71|
|        Canoe Slalom|             50.0|           50.0|
|        Canoe Sprint|             49.4|           50.6|
|Cycling BMX Frees...|            52.63|          47.37|
|  Cycling BMX Racing|             50.0|           50.0|
|Cycling Mountain ...|             50.0|           50.0|
|        Cycling Road|            34.83|          65.17|
|       Cycling Track|            47.62|          52.38|
|              Diving|            50.35|          49.65|
|          Equestrian|            36.87|          63.13|
|             Fencing|            49.77|          50.23|
+--------------------+-----------------+---------------+
only showing top 20 rows

In [0]:
medals_transformed= medals.withColumn("WeightedScore", (col("Gold") * 3) + (col("Silver") * 2) + (col("Bronze") * 1))

In [0]:
medals_transformed.show()

+----+--------------------+----+------+------+-----+-------------+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|WeightedScore|
+----+--------------------+----+------+------+-----+-------------+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|          232|
|   2|People's Republic...|  38|    32|    18|   88|            2|          196|
|   3|               Japan|  27|    14|    17|   58|            5|          126|
|   4|       Great Britain|  22|    21|    22|   65|            4|          130|
|   5|                 ROC|  20|    28|    23|   71|            3|          139|
|   6|           Australia|  17|     7|    22|   46|            6|           87|
|   7|         Netherlands|  10|    12|    14|   36|            9|           68|
|   8|              France|  10|    12|    11|   33|           10|           65|
|   9|             Germany|  10|    11|    16|   37|            8|           68|
|  10|               Italy|  10|    10|    20|   40|            7|           70|
|  11|              Canada|   7|     6|    11|   24|           11|           44|
|  12|              Brazil|   7|     6|     8|   21|           12|           41|
|  13|         New Zealand|   7|     6|     7|   20|           13|           40|
|  14|                Cuba|   7|     3|     5|   15|           18|           32|
|  15|             Hungary|   6|     7|     7|   20|           13|           39|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|           36|
|  17|              Poland|   4|     5|     5|   14|           19|           27|
|  18|      Czech Republic|   4|     4|     3|   11|           23|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|           22|
|  20|              Norway|   4|     2|     2|    8|           29|           18|
+----+--------------------+----+------+------+-----+-------------+-------------+
only showing top 20 rows

In [0]:
teams_transformed = teams.groupBy("Discipline").agg(countDistinct("TeamName").alias("NumberOfTeams"))

In [0]:
teams_transformed = teams_transformed.orderBy("NumberOfTeams", ascending=False)

In [0]:
teams_transformed.show()

+-------------------+-------------+
|         Discipline|NumberOfTeams|
+-------------------+-------------+
|   Beach Volleyball|           48|
|       Table Tennis|           37|
|          Athletics|           33|
|            Archery|           31|
|           Swimming|           30|
|           Football|           24|
|      Cycling Track|           23|
|  Artistic Swimming|           22|
|            Fencing|           18|
|          Triathlon|           18|
|           Handball|           18|
|         Volleyball|           18|
|         Basketball|           18|
|Artistic Gymnastics|           17|
|         Water Polo|           16|
|       Rugby Sevens|           16|
|             Hockey|           14|
|Rhythmic Gymnastics|           14|
|     3x3 Basketball|           13|
|  Baseball/Softball|            9|
+-------------------+-------------+

In [0]:

athletes_transformed = athletes_transformed.toPandas()


file_path = "/dbfs/mnt/tokyoolymic/transformed-data/athletes_transformed.csv"


athletes_transformed.to_csv(file_path, index=False)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-552897512658885>, line 1
----> 1 athletes_transformed = athletes_transformed.toPandas()
      4 file_path = "/dbfs/mnt/tokyoolymic/transformed-data/athletes_transformed.csv"
      7 athletes_transformed.to_csv(file_path, index=False)

File /databricks/python/lib/python3.10/site-packages/pandas/core/generic.py:5575, in NDFrame.__getattr__(self, name)
   5568 if (
   5569     name not in self._internal_names_set
   5570     and name not in self._metadata
   5571     and name not in self._accessors
   5572     and self._info_axis._can_hold_identifiers_and_holds_name(name)
   5573 ):
   5574     return self[name]
-> 5575 return object.__getattribute__(self, name)

AttributeError: 'DataFrame' object has no attribute 'toPandas'

In [0]:
coaches_transformed = coaches_transformed.toPandas()


file_path = "/dbfs/mnt/tokyoolymic/transformed-data/coaches_transformed.csv"


coaches_transformed.to_csv(file_path, index=False)

In [0]:
entriesgender_transformed = entriesgender_transformed.toPandas()


file_path = "/dbfs/mnt/tokyoolymic/transformed-data/entriesgender_transformed.csv"


entriesgender_transformed.to_csv(file_path, index=False)

In [0]:
medals_transformed = medals_transformed.toPandas()


file_path = "/dbfs/mnt/tokyoolymic/transformed-data/medals_transformed.csv"


medals_transformed.to_csv(file_path, index=False)

In [0]:
teams_transformed = teams_transformed.toPandas()


file_path = "/dbfs/mnt/tokyoolymic/transformed-data/teams_transformed.csv"


teams_transformed.to_csv(file_path, index=False)